{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Gerer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('avis_index') }}">Avis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('matiere_index') }}">Matière</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('cours_index') }}">Cours</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('professeur_index') }}">Professeurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="">Salle</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <br>
  <a href="{{ path('vuejs') }}" class="btn-primary btn">Aller au vueJs</a>
</div>
{% endblock %}
