{% extends 'base.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Avis index</h4>
            <p class="card-text"><table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Note</th>
                <th>Commentaire</th>
                <th>EmailEtudiant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.id }}</td>
                <td>{{ avi.note }}</td>
                <td>{{ avi.commentaire }}</td>
                <td>{{ avi.emailEtudiant }}</td>
                <td>
                    <a href="{{ path('avis_show', {'id': avi.id}) }}">show</a>
                    <a href="{{ path('avis_edit', {'id': avi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de données trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('avis_new') }}">Créer nouveau</a></p>
        </div>
    </div>
</div>
{% endblock %}
