{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Avis</h4>
            <p class="card-text">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ avi.id }}</td>
                    </tr>
                    <tr>
                        <th>Note</th>
                        <td>{{ avi.note }}</td>
                    </tr>
                    <tr>
                        <th>Commentaire</th>
                        <td>{{ avi.commentaire }}</td>
                    </tr>
                    <tr>
                        <th>EmailEtudiant</th>
                        <td>{{ avi.emailEtudiant }}</td>
                    </tr>
                </tbody>
            </table>    
            <center>
            <a class="btn btn-primary" href="{{ path('avis_edit', {'id': avi.id}) }}">Modifier </a> <br>

            {{ include('avis/_delete_form.html.twig') }}<br>

            <a href="{{ path('avis_index') }}">Retour à la liste</a>


        </center>

            </p>
        </div>
    </div>
</div>
{% endblock %}
