<div class="container">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                {{ form_label(form.titre) }}
                {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                <div class="text-danger">
                    {{ form_errors(form.titre) }}
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                {{ form_label(form.reference) }}
                {{ form_widget(form.reference, {'attr': {'class': 'form-control'}}) }}
                <div class="text-danger">
                    {{ form_errors(form.reference) }}
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                {{ form_label(form.professeurs) }}
                {{ form_widget(form.professeurs, {'attr': {'class': 'form-control'}}) }}
                <div class="text-danger">
                    {{ form_errors(form.professeurs) }}
                </div>
            </div>
        </div>
    </div>



    {# <div class="form-group">
        {{ form_label(form.dateHeureFin) }}
        {{ form_widget(form.dateHeureFin, {'attr': {'class': 'form-control'}}) }}
        <div class="text-danger">
            {{ form_errors(form.dateHeureFin) }}
        </div>
    </div> #}
    {# {{ form_widget(form) }} #}
    <center>
        <button class="btn btn-primary">{{ button_label|default('Ajouter la matière') }}</button><br>
    </center>
    {{ form_end(form) }}
</div>
