{% extends 'base.html.twig' %}

{% block title %}Matiere index{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Matiere index</h4>
            <p class="card-text">
            <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Reference</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td>{{ matiere.id }}</td>
                <td>{{ matiere.titre }}</td>
                <td>{{ matiere.reference }}</td>
                <td>
                    <a href="{{ path('matiere_show', {'id': matiere.id}) }}">show</a>
                    <a href="{{ path('matiere_edit', {'id': matiere.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de données trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('matiere_new') }}">Créer nouveau</a></p>
        </div>
    </div>
</div>

{% endblock %}
