{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Cours index</h4>
            <p class="card-text">
            <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateHeureDebut</th>
                <th>DateHeureFin</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.id }}</td>
                <td>{{ cour.dateHeureDebut ? cour.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cour.dateHeureFin ? cour.dateHeureFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cour.type }}</td>
                <td>
                    <a href="{{ path('cours_show', {'id': cour.id}) }}">show</a>
                    <a href="{{ path('cours_edit', {'id': cour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de données trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cours_new') }}">Créer nouveau</a></p>
        </div>
    </div>
</div>
{% endblock %}
