{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>DateHeureDebut</th>
                <td>{{ cour.dateHeureDebut ? cour.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateHeureFin</th>
                <td>{{ cour.dateHeureFin ? cour.dateHeureFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ cour.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cours_index') }}">back to list</a>

    <a href="{{ path('cours_edit', {'id': cour.id}) }}">edit</a>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
